#Ignore database files
*.db
*.sqlite3

#Ignore environment variables and settings files
.env
.envrc
/essential_words/settings.py

#Ignore compiled Python files
*.pyc
__pycache__/

#Ignore VS Code settings
.vscode/
